@font-face {
    font-family: MoonFlowerBold;
    src: url('./media/fonts/Moon\ Flower\ Bold.ttf');
}

html {
    background: linear-gradient(0deg, rgb(80 19 23) 0%, rgb(106 113 174) 65%, rgba(255 170 170 / 0.48) 100%);
    background-attachment: fixed;
}

p {
    margin: 0;
}

.App {
    position: relative;
    font-family: MoonFlowerBold;
    color: rgb(47 27 117);
    max-width: 1920px;
    margin: auto;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title > h1 {
    font-size: 4em;
    margin-bottom: 10px;
    margin-left: 50px;
}

.title > p {
    font-size: 2em;
    margin: 5px;
    margin-left: 100px;
}

.score {
    font-size: 2em;
    text-align: end;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}


@media (max-width: 720px) {
    .title > h1, .title > p {
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;
    }
    .title-container {
        justify-content: center;
        gap: 1rem;
    }
    .score {
        flex-direction: row;
        gap: 1rem;
        margin: 0;
    }
}